// src/style/abstract/_colors.scss
// ! Just use one to start with if do not intende to add dark mode/light mode swithcing in V1

// Light theme colors - Default theme
// ! Change these colors to match the TAG design colors and add/remove as needed
$light-background-color: lightgrey;
$light-primary-color: #3498db;
$light-secondary-color: green;
$light-button-primary-color: #02255e;
$light-button-text-color: #fff;
$light-border-color: #d6dbe4;
$light-card-color: #fff;
$light-font-color: black;
$light-error-color: #ff6b6b;
$light-success-color: #51cf66;
$light-accentuate-color: #f39c12;
$light-nav-color: rgb(255 255 255 / 55%);
$light-nav-link-color: #000;
$light-nav-link-hover-color: #fff;
$light-nav-link-bg-hover-color: #02255e;
$light-status-success-color: #d1e7de;
$light-status-error-color: #f9d7db;
$light-status-warning-color: #fff3cd;
$light-status-pending-color: #cff4fc;
$light-loading-bg-color: #fbfbfb;
$light-logout-color: #d31414;

// Messages
$light-error-color: #a80b0b;
$light-error-border-color: #ffe2e1;
$light-error-bg-color: #ffeaea;

$light-warning-color: #a80b0b;
$light-warning-border-color: #fef7f6;
$light-warning-bg-color: #ffeaea;

$light-success-color: #5a8f1d;
$light-success-border-color: #d1e7b9;
$light-success-bg-color: #e6f2d9;


// Dark theme colors - Optional
// ! Change these colors to match the TAG design colors and add/remove as needed
$dark-background-color: black;
$dark-primary-color: white;
$dark-secondary-color: green;
$dark-button-primary-color: darkorange;
$dark-button-text-color: black;
$dark-border-color: brown;
$dark-card-color: grey;
$dark-font-color: white;
$dark-error-color: #ff8787;
$dark-success-color: #69db7c;
$dark-accentuate-color: #f39c12;
$dark-nav-color: #333;
$dark-nav-link-color: #fff;
$dark-nav-link-hover-color: #000;
$dark-nav-link-bg-hover-color: #fff;
$dark-status-success-color: #d1e7de;
$dark-status-error-color: #f9d7db;
$dark-status-warning-color: #fff3cd;
$dark-status-pending-color: #d0e2ff;
$dark-loading-bg-color: #333;
$dark-logout-color: #d31414;

// Messages
$dark-error-color: #a80b0b;
$dark-error-border-color: #ffe2e1;
$dark-error-bg-color: #ffeaea;

$dark-warning-color: #a80b0b;
$dark-warning-border-color: #fef7f6;
$dark-warning-bg-color: #ffeaea;

$dark-success-color: #a80b0b;
$dark-success-border-color: #fef7f6;
$dark-success-bg-color: #ffeaea;

// ==============================================================
// CSS variables defined 
// ==============================================================
:root {
  --background-color: #{$light-background-color};
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --button-primary-color: #{$light-button-primary-color};
  --button-text-color: #{$light-button-text-color};
  --border-color: #{$light-border-color};
  --card-color: #{$light-card-color};
  --font-color: #{$light-font-color};
  --error-color: #{$light-error-color};
  --success-color: #{$light-success-color};
  --accentuate-color: #{$light-accentuate-color};

  // Navigation
  --navigation-color: #{$light-nav-color};
  --nav-link-color: #{$light-nav-link-color};
  --nav-link-hover-color: #{$light-nav-link-hover-color};
  --nav-link-bg-hover-color: #{$light-nav-link-bg-hover-color};
  --logout-color: #{$light-logout-color};

  // Status colors
  --status-success-color: #{$light-status-success-color};
  --status-error-color: #{$light-status-error-color};
  --status-warning-color: #{$light-status-warning-color};
  --status-pending-color: #{$light-status-pending-color};

  // Loading screen
  --loading-bg-color: #{$light-loading-bg-color};

  // Messages
  --msg-error-color: #{$light-error-color};
  --msg-error-border-color: #{$light-error-border-color};
  --msg-error-bg-color: #{$light-error-bg-color};

  --msg-warning-color: #{$light-warning-color};
  --msg-warning-border-color: #{$light-warning-border-color};
  --msg-warning-bg-color: #{$light-warning-bg-color};

  --msg-success-color: #{$light-success-color};
  --msg-success-border-color: #{$light-success-border-color};
  --msg-success-bg-color: #{$light-success-bg-color};
}

// ==============================================================
// CSS Dark theme
// ==============================================================
[data-theme='dark'] {
  --background-color: #{$dark-background-color};
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --button-primary-color: #{$dark-button-primary-color};
  --button-text-color: #{$dark-button-text-color};
  --border-color: #{$dark-border-color};
  --card-color: #{$dark-card-color};
  --font-color: #{$dark-font-color};
  --error-color: #{$dark-error-color};
  --success-color: #{$dark-success-color};
  --accentuate-color: #{$dark-accentuate-color};

  // Navigation
  --navigation-color: #{$dark-nav-color};
  --nav-link-color: #{$dark-nav-link-color};
  --nav-link-hover-color: #{$dark-nav-link-hover-color};
  --nav-link-bg-hover-color: #{$dark-status-pending-color};
  --logout-color: #{$dark-logout-color};

  // Status colors
  --status-success-color: #{$dark-status-success-color};
  --status-error-color: #{$dark-status-error-color};
  --status-warning-color: #{$dark-status-warning-color};
  --status-pending-color: #{$dark-status-pending-color};

  // Loading screen
  --loading-bg-color: #{$dark-loading-bg-color};

  // Messages
  --msg-error-color: #{$dark-error-color};
  --msg-error-border-color: #{$dark-error-border-color};
  --msg-error-bg-color: #{$dark-error-bg-color};

  --msg-warning-color: #{$dark-warning-color};
  --msg-warning-border-color: #{$dark-warning-border-color};
  --msg-warning-bg-color: #{$dark-warning-bg-color};

  --msg-success-color: #{$dark-success-color};
  --msg-success-border-color: #{$dark-success-border-color};
  --msg-success-bg-color: #{$dark-success-bg-color};
}