// src/style/abstract/_variables.scss

// Breakpoints for media queries
$pageWidthDesk: pxToRem(1200);
$pageWidthTab: pxToRem(768);
$pageWidthMob: pxToRem(400);

// Spacing units
$headerHeight: pxToRem(80);
$footerHeight: pxToRem(80);

//  Misc variables - Contracts
$card-padding: pxToRem(24);
$card-border-radius: pxToRem(8);
$header-font-size: pxToRem(24);
$card-title-size: pxToRem(18);
$detail-font-size: pxToRem(14);
$small-font-size: pxToRem(12);