.dash-nav {
    width: 100%;
    max-width: 300px;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 7px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            height: 50px;
            width: 100%;
            padding: 10px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color .3s ease;

            &:hover {
                background-color: #f3f7f9;
            }

            &.active {
                background-color: #edf3f6;
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 25px;
            width: 25px;
        }
    }
}