.profile-card {
    text-align: left;
    padding: 40px;
    background-color: var(--card-color);
    position: relative;
    border-radius: 7px;
    @extend .shadow__general;

    h3 {
        margin-top: 0px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            display: flex;
            flex-direction: column;

            span:first-child {
                color: var(--secondary-color);
                font-size: pxToRem(12);
            }
        }
    }
}