.register-form {
    width: 100%;
    max-width: 400px;
    @extend .shadow__general;

}

.login-link {
    margin-top: pxToRem(20)
}

.success-message {
    color: var(--success-color);
    font-size: pxToRem(16);
    margin-top: pxToRem(20);
}