// src/style/main.scss
// ! Uncomment imports as the files are added to the project or removed if unused

// vendor
@import './vendor/reset.scss';

// abstract/utils imports
@import './abstract/functions.scss';
@import './abstract/variables.scss';
@import './abstract/mixins.scss';
@import './abstract/colors.scss';
@import './abstract/typography.scss';
@import './abstract/shadows.scss';

// Base imports
@import './base/global.scss';

// Layout imports
// @import 'layout/grid';
// @import 'layout/containers';

// Components imports
// @import 'components/button';
@import './components/header.scss';
@import './components/footer.scss';

// Page imports
// @import 'pages/home';
// @import 'pages/about';


// 6. Themes imports (if any), preferable if you ask me :)
// @import 'themes/dark';