// src/style/pages/tokenCreation/_templateBanner.scss
.template-banner {
  width: 100%;
  background-color: var(--card-color);
  transition: height 0.3s ease-out;
  overflow: hidden;
  margin-top: $gap-medium;
  border-radius: $border-radius;

  &.expanded {
    padding-bottom: $gap-small;
  }

  &__toggle {
    @extend %main-button;
    margin: 0;
    width: 100%;
    font-size: pxToRem(18);
    
    background-color: transparent;
    cursor: pointer;
    padding: $gap-medium;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 $gap-large;
  }

  .template-thumbnails {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; // Hide scrollbar for Firefox
    -ms-overflow-style: none; // Hide scrollbar for IE and Edge
    //padding: 0 pxToRem(40);
    
    &::-webkit-scrollbar {
      display: none; // Hide scrollbar for Chrome, Safari, and Opera
    }
  }

  .template-thumbnail {
    @extend %main-button;
    flex: 0 0 auto;
    width: pxToRem(120);
    height: pxToRem(120);
    border: 1px solid var(--button-text-color);
    border-radius: pxToRem(8);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  .scroll-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $gap-large;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    svg {
      width: pxToRem(24);
      height: pxToRem(24);
      color: var(--font-color);
    }
  }
}