.login-form {
  width: 100%;
  max-width: pxToRem(400);


  .btn-primary {
    width: 100%;
    padding: pxToRem(12) pxToRem(20);
    background-color: var(--button-primary-color);
    color: var(--button-text-color);
    border: none;
    border-radius: pxToRem(4);
    font-size: pxToRem(16);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.register-link {
  margin-top: pxToRem(20);
  text-align: center;
  color: var(--font-color);

  a {
    color: var(--secondary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include responsive(mobile) {
  .login-form {
    padding: pxToRem(20);
  }
}